<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147668673413-is03mhkre2i1nk9r7p78a3frteeq7h8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147668673413-is03mhkre2i1nk9r7p78a3frteeq7h8v</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PTZTk01IMw2WmgwUaFSq0ThjB9SSNXk</string>
	<key>GCM_SENDER_ID</key>
	<string>147668673413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meditationchef.imagine.dev</string>
	<key>PROJECT_ID</key>
	<string>imaginedev-e5fd3</string>
	<key>STORAGE_BUCKET</key>
	<string>imaginedev-e5fd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147668673413:ios:1af23c56aa0db2810ddaec</string>
</dict>
</plist>